@charset "utf-8";
.box1 {
    background: #000;
}

.heading1 {
    background: yellow;
    position: relative;
    top: -10px;
    left: -5px;
}

.heading2 {
    background: pink;
    position: relative;
    top: 100px;
    left: 100px;
}

.heading3 {
    background: lime;
}